# Node / React
node_modules
npm-debug.log
**/node_modules
**/dist
**/.env
**/.env.local
**/fly.toml
**/Dockerfile
**/.git
**/.github
**/.vscode
**/__pycache__

# Python cache
*.pyc
*.pyo
*.pyd

# Logs
*.log
logs/
