# Ignore environment files
# Ignore environment files
.env
**/.env
.env.*
**/.env.*

# Node
node_modules/
npm-debug.log*
yarn.lock
package-lock.json
dist/
.vercel/
.next/

# Python
__pycache__/
.pytest_cache/
.mypy_cache/
.venv/
venv/

# OS/editor
.DS_Store
Thumbs.db
*.swp
.idea/
.vscode/
