RewriteEngine On
RewriteBase /
# Allow existing files/directories
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]
# Single Page App fallback
RewriteRule ^ index.html [L]

